/target
*.so
*.pending-snap

# For IntelliJ/Jetbrains software. You can get an open-source license for
# Jetbrains products to develop git-branchless! File an issue and I will apply
# on your behalf.
.idea