[package]
authors = ["Waleed Khan <me@waleedkhan.name>"]
categories = ["command-line-utilities", "development-tools"]
description = "Branchless workflow for Git"
documentation = "https://github.com/arxanas/git-branchless/wiki"
edition = "2018"
homepage = "https://github.com/arxanas/git-branchless"
keywords = ["cli", "git"]
license = "Apache-2.0"
name = "git-branchless"
repository = "https://github.com/arxanas/git-branchless"
version = "0.3.3"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "branchless"

[dependencies]
anyhow = "1.0.38"
assert_cmd = "1.0.3"
console = "0.14.0"
cursive = {version = "0.17.0-alpha.0", default-features = false, features = ["crossterm-backend"]}
fn-error-context = "0.1.1"
git2 = {version = "0.13.17", default-features = false}
indicatif = "0.16.2"
lazy_static = "1.4.0"
log = "0.4.14"
os_str_bytes = "3.1.0"
regex = "1.4.4"
rusqlite = {version = "0.24.2", features = ["bundled"]}
simple_logger = "1.11.0"
structopt = "0.3.21"
tempfile = "3.2.0"

[dev-dependencies]
clippy = "0.0.302"
gag = "1.0.0"
insta = "1.7.0"
