[profile.dev]
# Disabling debug info speeds up builds a bunch,
# and we don't rely on it for debugging that much.
debug = 0

[workspace]
default-members = ["git-branchless"]
members = [
    "git-branchless-hook",
    "git-branchless-init",
    "git-branchless-invoke",
    "git-branchless-lib",
    "git-branchless-move",
    "git-branchless-navigation",
    "git-branchless-opts",
    "git-branchless-query",
    "git-branchless-record",
    "git-branchless-revset",
    "git-branchless-reword",
    "git-branchless-smartlog",
    "git-branchless-submit",
    "git-branchless-test",
    "git-branchless-undo",
    "git-branchless",
    "git-record",
    "scm-bisect",
    "scm-record",
]

[workspace.metadata.release]
consolidate-commits = true
push = false
tag = false

[workspace.dependencies]
anyhow = "1.0.72"
async-trait = "0.1.72"
bstr = "1.6.0"
bugreport = "0.5.0"
chashmap = "2.2.2"
chrono = "0.4.26"
chrono-english = "0.1.7"
chronoutil = "0.2.5"
clap = "4.3.23"
clap_mangen = "0.2.12"
color-eyre = "0.6.2"
concolor = { version = "0.1.1", features = ["auto"] }
console = "0.15.7"
crossbeam = "0.8.2"
cursive = { version = "0.20.0", default-features = false, features = [ "crossterm-backend" ] }
cursive_buffered_backend = "0.6.1"
cursive_core = "0.3.7"
eden_dag = { package = "esl01-dag", version = "0.3.0" }
eyre = "0.6.8"
fslock = "0.2.1"
futures = "0.3.28"
git-branchless-hook = { version = "0.8.0", path = "git-branchless-hook" }
git-branchless-init = { version = "0.8.0", path = "git-branchless-init" }
git-branchless-invoke = { version = "0.8.0", path = "git-branchless-invoke" }
git-branchless-move = { version = "0.8.0", path = "git-branchless-move" }
git-branchless-navigation = { version = "0.8.0", path = "git-branchless-navigation" }
git-branchless-opts = { version = "0.8.0", path = "git-branchless-opts" }
git-branchless-query = { version = "0.8.0", path = "git-branchless-query" }
git-branchless-record = { version = "0.8.0", path = "git-branchless-record" }
git-branchless-revset = { version = "0.8.0", path = "git-branchless-revset" }
git-branchless-reword = { version = "0.8.0", path = "git-branchless-reword" }
git-branchless-smartlog = { version = "0.8.0", path = "git-branchless-smartlog" }
git-branchless-submit = { version = "0.8.0", path = "git-branchless-submit" }
git-branchless-test = { version = "0.8.0", path = "git-branchless-test" }
git-branchless-undo = { version = "0.8.0", path = "git-branchless-undo" }
git2 = { version = "0.17.2", default-features = false }
glob = "0.3.0"
indexmap = "2.0.0"
indicatif = { version = "0.17.6", features = ["improved_unicode"] }
itertools = "0.11.0"
lalrpop = "0.19.12"
lalrpop-util = "0.19.12"
lazy_static = "1.4.0"
lib = { package = "git-branchless-lib", version = "0.8.0", path = "git-branchless-lib" }
man = "0.3.0"
num_cpus = "1.16.0"
once_cell = "1.18.0"
path-slash = "0.2.1"
portable-pty = "0.8.1"
rayon = "1.7.0"
regex = "1.9.3"
rusqlite = { version = "0.29.0", features = ["bundled"] }
scm-bisect = { version = "0.1.0", path = "scm-bisect" }
scm-record = { version = "0.1.0", path = "scm-record" }
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.105"
shell-words = "1.1.0"
skim = "0.10.4"
tempfile = "3.6.0"
textwrap = "0.16.0"
thiserror = "1.0.47"
tracing = "0.1.37"
tracing-chrome = "0.6.0"
tracing-error = "0.2.0"
tracing-subscriber = { version = "=0.3.11", features = ["env-filter"] }
vt100 = "0.15.2"

# dev-dependencies
assert_cmd = "2.0.7"
cc = "1.0.83"
criterion = { version = "0.5.1", features = ["html_reports"] }
insta = "1.31.0"
maplit = "1.0.2"
