name: Lint

on:
  push:
    branches:
      - master

  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Forbid nocommit string
        run: |
          if results=$(git grep --column --line-number --only-matching '@''nocommit'); then
            echo "$results"
            awk <<<"$results" -F ':' '{ print "::error file=" $1 ",line=" $2 ",col=" $3 "::Illegal string: " $4 }'
            exit 1
          fi

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.82
          components: rustfmt, clippy
          override: true

      - name: Cache dependencies
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0

      - name: Run `cargo fmt`
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run `cargo clippy`
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          # Allow `--allow renamed_and_removed_lints` because the new lint name
          # may not be available in our oldest-supported Rust version.
          args: --workspace --all-features --all-targets -- --deny warnings --allow renamed_and_removed_lints

      - name: Run `cargo doc`
        env:
          RUSTDOCFLAGS: "--deny warnings"
        run: cargo doc --workspace --no-deps
