name: macOS

on:
  schedule:
    # Run once every day at 6:40AM UTC.
    - cron: "40 6 * * *"

  push:
    branches:
      - master

  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  run-tests:
    if: contains(github.head_ref, 'macos') || github.head_ref == ''
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.86
          override: true

      - name: Cache dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - name: Compile
        run: cargo build --benches --tests

      # TODO(#1416): re-enable once tests are passing on Git v2.46+
      # - name: Run tests
      #   timeout-minutes: 30
      #   run: |
      #     export RUST_BACKTRACE=1
      #     export TEST_GIT=$(which git)
      #     export TEST_GIT_EXEC_PATH=$("$TEST_GIT" --exec-path)
      #     cargo test --workspace --no-fail-fast
