name: macOS

on:
  schedule:
    # Run once every day at 6:40AM UTC.
    - cron: "40 6 * * *"

  push:
    branches:
      - master

  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  run-tests:
    if: startsWith(github.head_ref, 'ci-') || github.head_ref == ''
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.67.0
          override: true

      - name: Cache dependencies
        uses: Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8

      - name: Compile
        run: cargo build --benches --tests

      - name: Run tests
        timeout-minutes: 30
        run: |
          export RUST_BACKTRACE=1
          export TEST_GIT=$(which git)
          export TEST_GIT_EXEC_PATH=$("$TEST_GIT" --exec-path)
          cargo test --workspace
