name: Nix on macOS

on:
  schedule:
    # Run once every day at 6:40AM UTC.
    - cron: "40 6 * * *"

  push:
    branches:
      - master

  pull_request:

jobs:
  nix:
    if: startsWith(github.head_ref, 'ci-') || github.head_ref == ''
    runs-on: macos-latest

    name: nix-build
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - run: nix flake check --print-build-logs --show-trace
