name: Windows

on:
  push:
    branches:
      - master
  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  run-tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.61.0
          override: true

      - name: Cache dependencies
        uses: Swatinem/rust-cache@359a70e43a0bb8a13953b04a90f76428b4959bb6

      - name: Compile
        run: cargo build --all-targets --workspace

      - name: Run tests
        timeout-minutes: 15
        run: |
          $env:TEST_GIT='C:\Program Files\Git\cmd\git.exe'
          $env:TEST_GIT_EXEC_PATH='C:\Program Files\Git\cmd'
          cargo test --examples --tests --workspace
