name: Windows

on:
  push:
    branches:
      - master
  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  run-tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.86
          override: true

      - name: Cache dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - name: Compile
        run: cargo build --all-targets --workspace

      # TODO(#1416): re-enable once tests are passing on Git v2.46+
      # - name: Run tests
      #   timeout-minutes: 30
      #   run: |
      #     $env:TEST_GIT='C:\Program Files\Git\cmd\git.exe'
      #     $env:TEST_GIT_EXEC_PATH='C:\Program Files\Git\cmd'
      #     cargo test --examples --tests --workspace --no-fail-fast
